# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac system files
.DS_Store

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PDF and ZIP exports
*.pdf
*.zip

# Temp files
*.tmp
*.log

# Cache & build
.cache/
build/
dist/

# VS Code settings (optional)
.vscode/
